<!--
    templateType: page
    isAvailableForNewContent: true
-->
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{ content.html_title }}</title>
    <meta name="description" content="{{ content.meta_description }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    {{ standard_header_includes }}
  </head>
  <body>
<link href="https://apps.webdew.com/hubspot/public/assets/css/webdew-product.css" rel="stylesheet">
{% set query = request.query_dict %}
{% set product_id = query.product_id %}
{% set contact = crm_object("product", product_id, 'id,price,createdate,name,full_embed_code, description') %}
<div class="card">
  <p>
    <button style="display: none;" data-obid="{{product_id}}" data-name="{{ contact.name }}" data-description="{{ contact.description }}" data-embed_code="{{ contact.full_embed_code }}" data-price="{{ contact.price }}" class="add_cart">Add to Cart ${{ contact.price }}</button>
  </p>
  <input id="grandTotalValue" type="hidden">
</div>

<div class="container">
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Shipping address</h4>
        </div>
        <div class="modal-body">
           <form class="kt_form" id="billing-form">

              <fieldset class="form-columns-2" data-reactid=".hbspt-forms-0.1.1:$5">
                <div class="hs_firstname hs-firstname hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$0.1:$firstname">
                  <label id="label-firstname-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your First Name" for="firstname-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$0.1:$firstname.0"><span data-reactid=".hbspt-forms-0.1.1:$0.1:$firstname.0.0">First Name</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$0.1:$firstname.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$0.1:$firstname.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$0.1:$firstname.$firstname"><input id="firstname" class="hs-input invalid error" type="text" name="firstname" required value="" placeholder="" autocomplete="given-name" data-reactid=".hbspt-forms-0.1.1:$0.1:$firstname.$firstname.0" maxlength="50"></div>
                </div>
                <div class="hs_lastname hs-lastname hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$0.1:$lastname">
                  <label id="label-lastname-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your Last Name" for="lastname" data-reactid=".hbspt-forms-0.1.1:$0.1:$lastname.0"><span data-reactid=".hbspt-forms-0.1.1:$0.1:$lastname.0.0">Last Name</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$0.1:$lastname.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$0.1:$lastname.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$0.1:$lastname.$lastname"><input id="lastname" class="hs-input invalid error" type="text" name="lastname" required value="" placeholder="" autocomplete="family-name" data-reactid=".hbspt-forms-0.1.1:$0.1:$lastname.$lastname.0" maxlength="50"></div>
                </div>
              </fieldset>
              <fieldset class="form-columns-2" data-reactid=".hbspt-forms-0.1.1:$5">
                <div class="hs_email hs-email hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$1.1:$email">
                  <label id="label-email-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your Email" for="email-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.0"><span data-reactid=".hbspt-forms-0.1.1:$1.1:$email.0.0">Email</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.$email"><input id="email" class="hs-input invalid error" type="email" name="email" required placeholder="" value="" autocomplete="email" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.$email.0" maxlength="100"></div>
                </div>
                <div class="hs_company hs-company hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$1.1:$company">
                  <label id="label-company-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your Company" for="company-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$1.1:$company.0"><span data-reactid=".hbspt-forms-0.1.1:$1.1:$company.0.0">Company</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$1.1:$company.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$1.1:$company.$company"><input id="company" class="hs-input" type="text" name="company" value="" placeholder="" autocomplete="organization" data-reactid=".hbspt-forms-0.1.1:$1.1:$company.$company.0" required maxlength="100"></div>
                </div>
              </fieldset>
              <fieldset class="form-columns-2" data-reactid=".hbspt-forms-0.1.1:$5">
                <div class="hs_email hs-email hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$1.1:$email">
                  <label id="label-email-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your Email" for="email-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.0"><span data-reactid=".hbspt-forms-0.1.1:$1.1:$email.0.0">Mobile</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.$email"><input id="mobile" class="hs-input invalid error" type="tel" name="mobile" required placeholder="" value="" autocomplete="off" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.$email.0" minlength="10" maxlength="14"></div>
                </div>
              </fieldset>
              <fieldset class="form-columns-2" data-reactid=".hbspt-forms-0.1.1:$5">
                <div class="hs-richtext hs-main-font-element" data-reactid=".hbspt-forms-0.1.1:$2.0">
                  <h3>Billing Address</h3>
                </div>
              </fieldset>
              <fieldset class="form-columns-2" data-reactid=".hbspt-forms-0.1.1:$5">
                <div class="hs_address hs-address hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$3.1:$address">
                  <label id="label-address-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your Address 1" for="address-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$3.1:$address.0"><span data-reactid=".hbspt-forms-0.1.1:$3.1:$address.0.0">Address 1</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$1.1:$email.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$3.1:$address.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$3.1:$address.$address"><input id="address" class="hs-input" required type="text" name="address" value="" placeholder="" autocomplete="street-address" data-reactid=".hbspt-forms-0.1.1:$3.1:$address.$address.0" maxlength="200"></div>
                </div>
                <div class="hs_subject hs-subject hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$3.1:$subject">
                  <label id="label-subject-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your Address 2" for="subject-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$3.1:$subject.0"><span data-reactid=".hbspt-forms-0.1.1:$3.1:$subject.0.0">Address 2</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$3.1:$subject.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$3.1:$subject.$subject"><input id="address2" class="hs-input" type="text" name="address2" value="" placeholder="" data-reactid=".hbspt-forms-0.1.1:$3.1:$subject.$subject.0"></div>
                </div>
              </fieldset>
              <fieldset class="form-columns-2 hs-form-field-code" data-reactid=".hbspt-forms-0.1.1:$5">
                <div class="hs_city hs-city hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$4.1:$city">
                  <label id="label-city-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your City" for="city-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$4.1:$city.0"><span data-reactid=".hbspt-forms-0.1.1:$4.1:$city.0.0">City</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$4.1:$city.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$4.1:$city.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$4.1:$city.$city"><input id="city" class="hs-input invalid error" type="text" name="city" required value="" placeholder="" autocomplete="address-level2" data-reactid=".hbspt-forms-0.1.1:$4.1:$city.$city.0" maxlength="50"></div>
                </div>
                <div class="hs_state hs-state hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$4.1:$state">
                  <label id="label-state-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your State" for="state-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$4.1:$state.0"><span data-reactid=".hbspt-forms-0.1.1:$4.1:$state.0.0">State</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$4.1:$state.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$4.1:$state.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$4.1:$state.$state"><input id="state" class="hs-input invalid error" type="text" name="state" required value="" placeholder="" autocomplete="address-level1" data-reactid=".hbspt-forms-0.1.1:$4.1:$state.$state.0" maxlength="50"></div>
                </div>
                <div class="hs_zip hs-zip hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$5.1:$zip">
                  <label id="label-zip-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your Zip Code" for="zip-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$5.1:$zip.0"><span data-reactid=".hbspt-forms-0.1.1:$5.1:$zip.0.0">Zip Code</span><span class="hs-form-required" data-reactid=".hbspt-forms-0.1.1:$5.1:$zip.0.1">*</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$5.1:$zip.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$5.1:$zip.$zip"><input id="postal_code" class="hs-input invalid error" type="text" name="postal_code" required value="" placeholder="" data-reactid=".hbspt-forms-0.1.1:$5.1:$zip.$zip.0" maxlength="7"></div>
                </div>
              </fieldset>
             <fieldset class="form-columns-2" data-reactid=".hbspt-forms-0.1.1:$5">
                <div class="hs_country hs-country hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$5.1:$country">
                  <label id="label-country-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Select Mode" for="country-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$5.1:$country.0"><span data-reactid=".hbspt-forms-0.1.1:$5.1:$country.0.0">Payment Mode</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$5.1:$country.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$5.1:$country.$country">
                    <select class="form-control" id="payment_way" name="payment_way">
                      <option value=""> Please Select </option>
<!--                       <option value="Razor"> Razor </option> -->
                      <option value="Card"> Card </option>
                      <option value="Paypal"> Paypal </option>
                    </select>
                  </div>
               </div>
             </fieldset>
              <fieldset class="form-columns-2" data-reactid=".hbspt-forms-0.1.1:$5">
                <div class="hs_country hs-country hs-fieldtype-text field hs-form-field" data-reactid=".hbspt-forms-0.1.1:$5.1:$country">
                  <label id="label-country-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" class="" placeholder="Enter your Country" for="country-09c29a30-5f63-47d4-9cc2-7781d385f5ab_2451" data-reactid=".hbspt-forms-0.1.1:$5.1:$country.0"><span data-reactid=".hbspt-forms-0.1.1:$5.1:$country.0.0">Country</span></label>
                  <legend class="hs-field-desc" style="display:none;" data-reactid=".hbspt-forms-0.1.1:$5.1:$country.1"></legend>
                  <div class="input" data-reactid=".hbspt-forms-0.1.1:$5.1:$country.$country">
                    <!-- <input id="country" class="hs-input invalid error" type="text" name="country" required="" value="" placeholder="" data-reactid=".hbspt-forms-0.1.1:$5.1:$country.$country.0" maxlength="50"> -->
                    <select class="form-control" id="country" name="country">
                      <option value=""> Please Select </option>
                      <option value="United States"> United States </option>
                      <option value="Afghanistan"> Afghanistan </option>
                      <option value="Albania"> Albania </option>
                      <option value="Algeria"> Algeria </option>
                      <option value="American Samoa"> American Samoa </option>
                      <option value="Andorra"> Andorra </option>
                      <option value="Angola"> Angola </option>
                      <option value="Anguilla"> Anguilla </option>
                      <option value="Antigua and Barbuda"> Antigua and Barbuda </option>
                      <option value="Argentina"> Argentina </option>
                      <option value="Armenia"> Armenia </option>
                      <option value="Aruba"> Aruba </option>
                      <option value="Australia"> Australia </option>
                      <option value="Austria"> Austria </option>
                      <option value="Azerbaijan"> Azerbaijan </option>
                      <option value="The Bahamas"> The Bahamas </option>
                      <option value="Bahrain"> Bahrain </option>
                      <option value="Bangladesh"> Bangladesh </option>
                      <option value="Barbados"> Barbados </option>
                      <option value="Belarus"> Belarus </option>
                      <option value="Belgium"> Belgium </option>
                      <option value="Belize"> Belize </option>
                      <option value="Benin"> Benin </option>
                      <option value="Bermuda"> Bermuda </option>
                      <option value="Bhutan"> Bhutan </option>
                      <option value="Bolivia"> Bolivia </option>
                      <option value="Bosnia and Herzegovina"> Bosnia and Herzegovina </option>
                      <option value="Botswana"> Botswana </option>
                      <option value="Brazil"> Brazil </option>
                      <option value="Brunei"> Brunei </option>
                      <option value="Bulgaria"> Bulgaria </option>
                      <option value="Burkina Faso"> Burkina Faso </option>
                      <option value="Burundi"> Burundi </option>
                      <option value="Cambodia"> Cambodia </option>
                      <option value="Cameroon"> Cameroon </option>
                      <option value="Canada"> Canada </option>
                      <option value="Cape Verde"> Cape Verde </option>
                      <option value="Cayman Islands"> Cayman Islands </option>
                      <option value="Central African Republic"> Central African Republic </option>
                      <option value="Chad"> Chad </option>
                      <option value="Chile"> Chile </option>
                      <option value="China"> China </option>
                      <option value="Christmas Island"> Christmas Island </option>
                      <option value="Cocos (Keeling) Islands"> Cocos (Keeling) Islands </option>
                      <option value="Colombia"> Colombia </option>
                      <option value="Comoros"> Comoros </option>
                      <option value="Congo"> Congo </option>
                      <option value="Cook Islands"> Cook Islands </option>
                      <option value="Costa Rica"> Costa Rica </option>
                      <option value="Cote d'Ivoire"> Cote d'Ivoire </option>
                      <option value="Croatia"> Croatia </option>
                      <option value="Cuba"> Cuba </option>
                      <option value="Curacao"> Curacao </option>
                      <option value="Cyprus"> Cyprus </option>
                      <option value="Czech Republic"> Czech Republic </option>
                      <option value="Democratic Republic of the Congo"> Democratic Republic of the Congo </option>
                      <option value="Denmark"> Denmark </option>
                      <option value="Djibouti"> Djibouti </option>
                      <option value="Dominica"> Dominica </option>
                      <option value="Dominican Republic"> Dominican Republic </option>
                      <option value="Ecuador"> Ecuador </option>
                      <option value="Egypt"> Egypt </option>
                      <option value="El Salvador"> El Salvador </option>
                      <option value="Equatorial Guinea"> Equatorial Guinea </option>
                      <option value="Eritrea"> Eritrea </option>
                      <option value="Estonia"> Estonia </option>
                      <option value="Ethiopia"> Ethiopia </option>
                      <option value="Falkland Islands"> Falkland Islands </option>
                      <option value="Faroe Islands"> Faroe Islands </option>
                      <option value="Fiji"> Fiji </option>
                      <option value="Finland"> Finland </option>
                      <option value="France"> France </option>
                      <option value="French Polynesia"> French Polynesia </option>
                      <option value="Gabon"> Gabon </option>
                      <option value="The Gambia"> The Gambia </option>
                      <option value="Georgia"> Georgia </option>
                      <option value="Germany"> Germany </option>
                      <option value="Ghana"> Ghana </option>
                      <option value="Gibraltar"> Gibraltar </option>
                      <option value="Greece"> Greece </option>
                      <option value="Greenland"> Greenland </option>
                      <option value="Grenada"> Grenada </option>
                      <option value="Guadeloupe"> Guadeloupe </option>
                      <option value="Guam"> Guam </option>
                      <option value="Guatemala"> Guatemala </option>
                      <option value="Guernsey"> Guernsey </option>
                      <option value="Guinea"> Guinea </option>
                      <option value="Guinea-Bissau"> Guinea-Bissau </option>
                      <option value="Guyana"> Guyana </option>
                      <option value="Haiti"> Haiti </option>
                      <option value="Honduras"> Honduras </option>
                      <option value="Hong Kong"> Hong Kong </option>
                      <option value="Hungary"> Hungary </option>
                      <option value="Iceland"> Iceland </option>
                      <option value="India"> India </option>
                      <option value="Indonesia"> Indonesia </option>
                      <option value="Iran"> Iran </option>
                      <option value="Iraq"> Iraq </option>
                      <option value="Ireland"> Ireland </option>
                      <option value="Israel"> Israel </option>
                      <option value="Italy"> Italy </option>
                      <option value="Jamaica"> Jamaica </option>
                      <option value="Japan"> Japan </option>
                      <option value="Jersey"> Jersey </option>
                      <option value="Jordan"> Jordan </option>
                      <option value="Kazakhstan"> Kazakhstan </option>
                      <option value="Kenya"> Kenya </option>
                      <option value="Kiribati"> Kiribati </option>
                      <option value="North Korea"> North Korea </option>
                      <option value="South Korea"> South Korea </option>
                      <option value="Kosovo"> Kosovo </option>
                      <option value="Kuwait"> Kuwait </option>
                      <option value="Kyrgyzstan"> Kyrgyzstan </option>
                      <option value="Laos"> Laos </option>
                      <option value="Latvia"> Latvia </option>
                      <option value="Lebanon"> Lebanon </option>
                      <option value="Lesotho"> Lesotho </option>
                      <option value="Liberia"> Liberia </option>
                      <option value="Libya"> Libya </option>
                      <option value="Liechtenstein"> Liechtenstein </option>
                      <option value="Lithuania"> Lithuania </option>
                      <option value="Luxembourg"> Luxembourg </option>
                      <option value="Macau"> Macau </option>
                      <option value="Macedonia"> Macedonia </option>
                      <option value="Madagascar"> Madagascar </option>
                      <option value="Malawi"> Malawi </option>
                      <option value="Malaysia"> Malaysia </option>
                      <option value="Maldives"> Maldives </option>
                      <option value="Mali"> Mali </option>
                      <option value="Malta"> Malta </option>
                      <option value="Marshall Islands"> Marshall Islands </option>
                      <option value="Martinique"> Martinique </option>
                      <option value="Mauritania"> Mauritania </option>
                      <option value="Mauritius"> Mauritius </option>
                      <option value="Mayotte"> Mayotte </option>
                      <option value="Mexico"> Mexico </option>
                      <option value="Micronesia"> Micronesia </option>
                      <option value="Moldova"> Moldova </option>
                      <option value="Monaco"> Monaco </option>
                      <option value="Mongolia"> Mongolia </option>
                      <option value="Montenegro"> Montenegro </option>
                      <option value="Montserrat"> Montserrat </option>
                      <option value="Morocco"> Morocco </option>
                      <option value="Mozambique"> Mozambique </option>
                      <option value="Myanmar"> Myanmar </option>
                      <option value="Nagorno-Karabakh"> Nagorno-Karabakh </option>
                      <option value="Namibia"> Namibia </option>
                      <option value="Nauru"> Nauru </option>
                      <option value="Nepal"> Nepal </option>
                      <option value="Netherlands"> Netherlands </option>
                      <option value="Netherlands Antilles"> Netherlands Antilles </option>
                      <option value="New Caledonia"> New Caledonia </option>
                      <option value="New Zealand"> New Zealand </option>
                      <option value="Nicaragua"> Nicaragua </option>
                      <option value="Niger"> Niger </option>
                      <option value="Nigeria"> Nigeria </option>
                      <option value="Niue"> Niue </option>
                      <option value="Norfolk Island"> Norfolk Island </option>
                      <option value="Turkish Republic of Northern Cyprus"> Turkish Republic of Northern Cyprus </option>
                      <option value="Northern Mariana"> Northern Mariana </option>
                      <option value="Norway"> Norway </option>
                      <option value="Oman"> Oman </option>
                      <option value="Pakistan"> Pakistan </option>
                      <option value="Palau"> Palau </option>
                      <option value="Palestine"> Palestine </option>
                      <option value="Panama"> Panama </option>
                      <option value="Papua New Guinea"> Papua New Guinea </option>
                      <option value="Paraguay"> Paraguay </option>
                      <option value="Peru"> Peru </option>
                      <option value="Philippines"> Philippines </option>
                      <option value="Pitcairn Islands"> Pitcairn Islands </option>
                      <option value="Poland"> Poland </option>
                      <option value="Portugal"> Portugal </option>
                      <option value="Puerto Rico"> Puerto Rico </option>
                      <option value="Qatar"> Qatar </option>
                      <option value="Republic of the Congo"> Republic of the Congo </option>
                      <option value="Romania"> Romania </option>
                      <option value="Russia"> Russia </option>
                      <option value="Rwanda"> Rwanda </option>
                      <option value="Saint Barthelemy"> Saint Barthelemy </option>
                      <option value="Saint Helena"> Saint Helena </option>
                      <option value="Saint Kitts and Nevis"> Saint Kitts and Nevis </option>
                      <option value="Saint Lucia"> Saint Lucia </option>
                      <option value="Saint Martin"> Saint Martin </option>
                      <option value="Saint Pierre and Miquelon"> Saint Pierre and Miquelon </option>
                      <option value="Saint Vincent and the Grenadines"> Saint Vincent and the Grenadines </option>
                      <option value="Samoa"> Samoa </option>
                      <option value="San Marino"> San Marino </option>
                      <option value="Sao Tome and Principe"> Sao Tome and Principe </option>
                      <option value="Saudi Arabia"> Saudi Arabia </option>
                      <option value="Senegal"> Senegal </option>
                      <option value="Serbia"> Serbia </option>
                      <option value="Seychelles"> Seychelles </option>
                      <option value="Sierra Leone"> Sierra Leone </option>
                      <option value="Singapore"> Singapore </option>
                      <option value="Slovakia"> Slovakia </option>
                      <option value="Slovenia"> Slovenia </option>
                      <option value="Solomon Islands"> Solomon Islands </option>
                      <option value="Somalia"> Somalia </option>
                      <option value="Somaliland"> Somaliland </option>
                      <option value="South Africa"> South Africa </option>
                      <option value="South Ossetia"> South Ossetia </option>
                      <option value="South Sudan"> South Sudan </option>
                      <option value="Spain"> Spain </option>
                      <option value="Sri Lanka"> Sri Lanka </option>
                      <option value="Sudan"> Sudan </option>
                      <option value="Suriname"> Suriname </option>
                      <option value="Svalbard"> Svalbard </option>
                      <option value="eSwatini"> eSwatini </option>
                      <option value="Sweden"> Sweden </option>
                      <option value="Switzerland"> Switzerland </option>
                      <option value="Syria"> Syria </option>
                      <option value="Taiwan"> Taiwan </option>
                      <option value="Tajikistan"> Tajikistan </option>
                      <option value="Tanzania"> Tanzania </option>
                      <option value="Thailand"> Thailand </option>
                      <option value="Timor-Leste"> Timor-Leste </option>
                      <option value="Togo"> Togo </option>
                      <option value="Tokelau"> Tokelau </option>
                      <option value="Tonga"> Tonga </option>
                      <option value="Transnistria Pridnestrovie"> Transnistria Pridnestrovie </option>
                      <option value="Trinidad and Tobago"> Trinidad and Tobago </option>
                      <option value="Tristan da Cunha"> Tristan da Cunha </option>
                      <option value="Tunisia"> Tunisia </option>
                      <option value="Turkey"> Turkey </option>
                      <option value="Turkmenistan"> Turkmenistan </option>
                      <option value="Turks and Caicos Islands"> Turks and Caicos Islands </option>
                      <option value="Tuvalu"> Tuvalu </option>
                      <option value="Uganda"> Uganda </option>
                      <option value="Ukraine"> Ukraine </option>
                      <option value="United Arab Emirates"> United Arab Emirates </option>
                      <option value="United Kingdom"> United Kingdom </option>
                      <option value="Uruguay"> Uruguay </option>
                      <option value="Uzbekistan"> Uzbekistan </option>
                      <option value="Vanuatu"> Vanuatu </option>
                      <option value="Vatican City"> Vatican City </option>
                      <option value="Venezuela"> Venezuela </option>
                      <option value="Vietnam"> Vietnam </option>
                      <option value="British Virgin Islands"> British Virgin Islands </option>
                      <option value="Isle of Man"> Isle of Man </option>
                      <option value="US Virgin Islands"> US Virgin Islands </option>
                      <option value="Wallis and Futuna"> Wallis and Futuna </option>
                      <option value="Western Sahara"> Western Sahara </option>
                      <option value="Yemen"> Yemen </option>
                      <option value="Zambia"> Zambia </option>
                      <option value="Zimbabwe"> Zimbabwe </option>
                      <option value="other"> Other </option>
                    </select>
                  </div>
                </div>

              </fieldset>
              <div class="hs_submit hs-submit" data-reactid=".hbspt-forms-0.1.5">
                  <div class="cart-checkout-btn">
                    <span class="checkout-cart-ic"></span> 
                    <button type="submit" class="hs-button primary large checkout-label checkout">Checkout</button>
                  </div>
                  <!-- stripe -->
                  <div id="stripe_pay">
                      <form role="form" method="post">
                        <button data-key="" id="stripe" type="submit" style="display:none;"> Pay with Stripe</button>
                      </form>
                      <script src="https://checkout.stripe.com/v2/checkout.js"></script>
<!--                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script> -->
                      <script type="text/javascript">
                        $(document).ready(function() {
                            $(document).on('click','#stripe' ,function(event) {
//                               var handler = StripeCheckout.configure({
//                               key: 'pk_test_QamfbLI2Zdf2YHVaLSOX1axj00oLMuy0X3',
//                               //image: 'https://stripe.com/img/documentation/checkout/marketplace.png',
//                               locale: 'auto',
//                               token: function(token) {
//                                 // Send the token in an AJAX request
//                                 var xhr = new XMLHttpRequest();
//                                 xhr.open('POST', '//httpbin.org/post');
//                                 xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
//                                 xhr.onload = function() {
//                                 if (xhr.status === 200) {
//                                   var resp = JSON.parse(xhr.responseText);
//                                   console.log(resp);
//                                   alert(resp.form.token);
//                                 }
//                                 else if (xhr.status !== 200) {
//                                   alert('Request failed.  Returned status of ' + xhr.status);
//                                 }
//                             };
//                                 xhr.send(encodeURI('token=' + token.id));
//                               }
//                             });

//                             document.getElementById('stripe').addEventListener('click', function(e) {
//                               // Open Checkout with further options:
//                               handler.open({
//                                 name: $('.add_cart').attr('data-name'),
//                                 description: $('.add_cart').attr('data-description'),
//                                 amount: getAmount()
//                               });
//                               e.preventDefault();
//                             });

//                             // Close Checkout on page navigation:
//                             window.addEventListener('popstate', function() {
//                               handler.close();
//                             });

                                event.preventDefault();
                                var $button = $(this),
                                    $form = $button.parents('form');
                                var opts = $.extend({
                                    name: $('.add_cart').attr('data-name'),
                                    description: $('.add_cart').attr('data-description'),
                                    amount: getAmount(),
                                    currency: 'usd',
                                    email : $('#email').val()
                                }, $button.data(), {
                                    token: function(result) {
                                        function call_charges(customer_id){
                                            $.ajax({
                                                url: 'https://api.stripe.com/v1/charges',
                                                method:"post",
                                                type:"POST",
                                                headers: {
                                                    Authorization: 'Bearer sk_test_EpefRFMQF1u4UHmnXF2Kgu4X00cVIni2fs' 
                                                },
                                                data: {
                                                        amount: getAmount(),
                                                        currency: 'usd',
                                                        customer: customer_id,
                                                        description:$('.add_cart').attr('data-description'),
                                                    },
                                                dataType: "json",
                                                success: function(response){
                                                    console.log('successful payment: ', response);
                                                    save_data_HS(response,'stripe');
                                                },
                                                error: function(error) {
                                                    _hide_loader();
                                                    error = JSON.parse(error.responseText);
                                                    console.log('error payment: ', error.error);
                                                }
                                        });
                                        }
                                      
                                        $.ajax({
                                            url: 'https://api.stripe.com/v1/customers',
                                            method:"POST",
                                            type:"POST",
                                            headers: {
                                                Authorization: 'Bearer sk_test_EpefRFMQF1u4UHmnXF2Kgu4X00cVIni2fs'  
                                            },
                                            data: {
                                                    email : $('#email').val(),
                                                    name : $('#firstname').val() + " " + $('#lastname').val(),
                                                    //source: result.id,
                                                    source:'tok_visa',
                                                    description : $('.add_cart').attr('data-description')
                                                    },
                                                dataType: "json",
                                                beforeSend: function(){
                                                _show_loader();
                                                },
                                                success: function(response){
                                                    var customer_id = response.id;
                                                  console.log(customer_id);
                                                    call_charges(customer_id);                                            
                                                },
                                                error: function(error) {
                                                    _hide_loader();
                                                    error = JSON.parse(error.responseText);
                                                    console.log('error payment: ', error.error);
                                                }
                                        });
                                    }
                                });
                                StripeCheckout.open(opts);
                            });
                        });
                        </script>
                  </div>
                  <!-- stripe -->
                
                
                  <!-- Paypal -->
                
                      <div id="paypal_pay" style="display:none;">
                      <p>
                        You'll be redirected to PayPal from where you can log in to your account and pay the amount.
                      </p>
                      <div class="wd_proceed-payment">
                          <div id="paypal-button-container"></div>
                          <script src="https://www.paypal.com/sdk/js?client-id=ATCabRwE3dt1A_RgS4BLxjbXWlz62hy8tKyAXnjFt9f7LraaIksE-WsLI_kBb_3Lz9C7tBMIWBoZXFqm&amp;currency=USD" data-sdk-integration-source="button-factory"></script>
                        </div>
                      </div>
                
                  <!--  Paypal  -->
                
              </div>
            </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default close-form" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>
  
</div>
    
<div class="cart-wrapper">
  <div class="cart-panel">
    <header class="cart-header">
      <div class="cart-tabs">
        <ul class="cart-tab-table">
          <li class="cart-tab-cell selected">
            <span class="cart-tab">
              <span class="tab-ic tab-cart-ic"></span>
              <span class="tab-label grand-total"></span>
            </span>
          </li>
        </ul>
        <span class="tab-selector"></span>
      </div>
    </header>
    <div class="cart-content">
        <div class="cart-sections">
          <section class="cart-section nano">
              <ul id="list" class="cart-list overthrow nano-content"></ul>
          </section>
          <section class="cart-section nano"></section>
        </div>
    </div>
    <footer class="cart-footer">
        <button type="button" class="btn btn-info btn-lg checkout-label" data-toggle="modal" data-target="#myModal">Checkout</button>
      <span class="cart-copyright">Powered by <a>Webdew</a></span>
    </footer>
  </div>
</div>
<script src="https://static.hsappstatic.net/jquery-libs/static-1.1/jquery/jquery-1.7.1.js"></script>
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    
<!-- <script src="https://apps.webdew.com/hubspot/ecommerce/public/assets/js/webdew-product.js"></script> -->
<script>
  $(document).on('click','.checkout-label',function(){
      $('.cart-wrapper').hide();
  });
//add new key=>value to the HTML5 storage
function SaveItem(id, obj) {
    sessionStorage.setItem(id, obj);
  }
  
  //------------------------------------------------------------------------------
  //change an existing key=>value in the HTML5 storage
  function ModifyItem(id, obj) {
    //check if key exists
    if (sessionStorage.getItem(id) != null) {
      //update
      sessionStorage.setItem(id,obj);
    }
  }
  //-------------------------------------------------------------------------
  //delete an existing key=>value from the HTML5 storage
  function RemoveItem(id) {
    sessionStorage.removeItem(id);
  }
  //-------------------------------------------------------------------------------------
  //restart the local storage
  function ClearAll() {
    sessionStorage.clear();
  }
  //--------------------------------------------------------------------------------------
  // dynamically populate the table with shopping list items
  //below step can be done via PHP and AJAX too. 
  function doShowAll() {
    if (CheckBrowser()) {
      var key = "";
      var list = "";
      var i = 0;
      var grandTotal = 0;
      //for more advance feature, you can set cap on max items in the cart
      for (i = 0; i <= sessionStorage.length-1; i++) {
        key = sessionStorage.key(i);
        var val = sessionStorage.getItem(key);
        val = JSON.parse(val);
        var price = val.price;
        var total = val.quantity * price;
        if(key != '__paypal_storage__'){
          grandTotal += total;
          list += '<li class="cart-list-item"><div class="cart-item-img" style="background-image: url("http://www.momastore.org/wcsstore/MOMASTORE1/images/products/113438_A2_Metropolitan_Clock.jpg");"></div><div class="cart-item"><div class="cart-item-description"><span><p class="cart-item-label">'+val.name+'</p><p class="cart-item-price">$'+val.price+'</p></span></div><div class="cart-item-favorites">  <a class="plus" rel="'+ key +'" > + </a> <span> ' + val.quantity + ' </span> <a class="minus" rel="'+ key +'" >-</a></div>   <div class="cart-item-trash"><span class="item-trash-ic del" rel="'+ key +'"></span></div></div></li>';
        }
      }
      //if no item exists in the cart
      if (list != "") {
        
        $('.grand-total').html('$'+grandTotal);
        $('.checkout').attr('id','grandTotal');
        $('.checkout').attr('rel',grandTotal);
        $('.checkout').html('Checkout $'+grandTotal);
        $('#grandTotalValue').val(grandTotal);
      } else {
          list += '<li class="cart-list-item"><div class="cart-item-img" style="background-image: url("http://www.momastore.org/wcsstore/MOMASTORE1/images/products/113438_A2_Metropolitan_Clock.jpg");"></div><div class="cart-item"><div class="cart-item-description"><span><p class="cart-item-label">No Items</p></span></div> </div></li>';
          $('.grand-total').html('0');
          $('.checkout').attr('id','grandTotal');
          $('.checkout').attr('rel','0');
          $('.checkout').html('Checkout 0');
          $('#grandTotalValue').val(0);
      }
      //bind the data to html table
      //you can use jQuery too....
      document.getElementById('list').innerHTML = list;
  
      jQuery(function($)
      {
          var $cartHeader = $(".cart-header");
          var $cartContent = $(".cart-content");
  
          function onResize()
          {
              var wh = $(window).height();
              var ch = wh - $cartHeader.height();
  
              $cartContent.css({
                  "height": ch
              });
          }
  
          $(window).resize(onResize); onResize();
  
          //$('.nano').nanoScroller();
  
          $('.cart-tab-cell').click(function(){
              console.log("click");
              $('.cart-panel').toggleClass("current-section__favorites");
          });
  
      });
    } else {
      alert('Cannot save shopping list as your browser does not support HTML 5');
    }
  }
  doShowAll();
  //below function may be redundant
  function CheckBrowser() {
    if ('sessionStorage' in window && window['sessionStorage'] !== null) {
      // we can use sessionStorage object to store data
      return true;
    } else {
      return false;
    }
  }
  
  $(document).on('click','.plus',function(){
    var id = $(this).attr('rel');
    var data = sessionStorage.getItem(id);
    data = JSON.parse(data);
    var qty = data.quantity + 1;
    var obj = {
      name : data.name,
      quantity : qty,
      price : data.price
    }
    obj = JSON.stringify(obj);
    ModifyItem(id, obj);
    doShowAll();
  });
  $(document).on('click','.minus',function(){
    var id = $(this).attr('rel');
    var data = sessionStorage.getItem(id);
    data = JSON.parse(data);
    if(data.quantity > 1){
        var qty = data.quantity - 1;
        var obj = {
          name : data.name,
          quantity : qty,
          price : data.price
        }
        obj = JSON.stringify(obj);
        ModifyItem(id, obj);
    }
    doShowAll();
  });
  $(document).on('click','.del',function(){
    RemoveItem($(this).attr('rel'));
    doShowAll();
  });
  $(document).on('click','#clear',function(){
    ClearAll();
    doShowAll();
  });
  $(document).on('click','.close',function(){
    $('.cart-wrapper').hide();
  });
  
  
  $(document).on('click','.close-form',function(){
    $('.cart-wrapper').show();
  });
  
  $(document).on('click','#show_cart',function(){
    doShowAll();
  });
  //ClearAll();
  $(document).on('click','.add_cart',function(){
    var id = $(this).attr('data-obID');
    var data = sessionStorage.getItem(id);
    data = JSON.parse(data);
    if(data){
      if(data.quantity > 0){
          var qty = data.quantity + 1;
          var obj = {
            name : data.name,
            quantity : qty,
            price : data.price
          }
          obj = JSON.stringify(obj);
          ModifyItem(id, obj);
      }
    } else {
        var name = $(this).attr('data-name');
        //var price = $(this).attr('data-price');
        var new_price = $(this).attr('data-price');
        var price = new_price.replace("रू", "");
        price = price.replace("$", "");
        var object = {
            name : name,
            quantity : 1,
            price : price
        }
        object = JSON.stringify(object);
        SaveItem(id, object);
    }
    doShowAll();
    $('.cart-wrapper').show();
  });
  
  $(document).ready(function(){
    var id = $('.add_cart').attr('data-obID');
    var data = sessionStorage.getItem(id);
    data = JSON.parse(data);
    if(data){
      if(data.quantity > 0){
          var qty = data.quantity + 1;
          var obj = {
            name : data.name,
            quantity : qty,
            price : data.price
          }
          obj = JSON.stringify(obj);
          ModifyItem(id, obj);
      }
    } else {
        var name = $('.add_cart').attr('data-name');
        var new_price = $('.add_cart').attr('data-price');
        var price = new_price.replace("रू", "");
        price = price.replace("$", "");
        
        var object = {
            name : name,
            quantity : 1,
            price : price
        }
        object = JSON.stringify(object);
        SaveItem(id, object);
    }
    doShowAll();
    $('.cart-wrapper').show();
  });
  //Razor
  function getAmount() {
    var amount = Math.round($('#grandTotalValue').val() * 100);
    if($('#grandTotalValue').val() == ''){
        amount = '100';
    }  
    return amount;
  }
//document.getElementById('grandTotal').onclick = function(e) {
//  __billing_form_validate();
// Initialize form validation on the registration form.
//       var formEl = $("form[name='registration']");
//       var validator = formEl.validate({
//           // Specify validation rules
//           rules: {
//             // The key name on the left side is the name attribute
//             // of an input field. Validation rules are defined
//             // on the right side
//             firstname: "required",
//             lastname: "required",
//             email: {
//               required: true,
//               // Specify that email should be validated
//               // by the built-in "email" rule
//               email: true
//             }
//           },
//           // Specify validation error messages
//           messages: {
//             firstname: "Please enter your firstname",
//             lastname: "Please enter your lastname",
//             email: "Please enter a valid email address"
//           }
//       });
//       if (validator.form() !== true) {
//          return;
//       }
//       if($('#razor_key').val() != '') {
//           var options = {
//               "key": $('#razor_key').val(), // Enter the Key ID generated from the Dashboard
//               "amount":  getAmount(), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise or INR 500.
//               //"currency": $('#currency').val(),
//               "currency": 'INR',
//               "name": "Webdew",
//               //"description": $('#product').val(),
//               "description": 'Get Webdew services.',
//               "image": "https://www.webdew.com/hubfs/webdew_logo-7.svg",
//               "handler": function (response) {
//                   __save_data_contact(response, 'razor');
//               },  
//               "theme": {
//                   "color": "#28a5ed"
//               }
//           };
//           var rzp1 = new Razorpay(options);
//           rzp1.open();
//           e.preventDefault();
//       }
//}
</script>
    
<script type="text/javascript">
  
$.urlParam = function(name, url){
    var results = new RegExp('[\?&]' + name + '=([^&#]*)').exec(url);
    return results[1] || 0;
}

var hapikey = $.urlParam('hapi_key', $('.add_cart').attr('data-embed_code'));

var cors_api_url = 'https://cors-anywhere.herokuapp.com/';
//var cors_api_url = 'http://localhost:5688/';
function doCORSRequest(options, printResult) {
  var x = new XMLHttpRequest();
  x.open(options.method, cors_api_url + options.url);
  x.onload = x.onerror = function() {
      var result = {};
      result.method = options.method;
      result.url = options.url;
      result.status = x.status;
      result.text = x.statusText;
      result.responseText = x.responseText;
      printResult(result);
  };
  if (/^POST/i.test(options.method)) {
      x.setRequestHeader('Content-Type', options.content_type);
  } else if (/^PUT/i.test(options.method)) {
      x.setRequestHeader('Content-Type', options.content_type);
      x.setRequestHeader("x-requested-with", "XMLHttpRequest");
  } else {
      x.setRequestHeader('Content-Type', options.content_type);
  }
  x.send(options.data);

}
  
function doCORSRequestMail(options, printResult) {
  var x = new XMLHttpRequest();
  x.open(options.method, cors_api_url + options.url);
  x.onload = x.onerror = function() {
    var result = {};
    result.method =  options.method
    result.url = options.url;
    result.status = x.status;
    result.text = x.statusText;
    result.responseText = x.responseText;
    printResult(result);

  };
  if (/^POST/i.test(options.method)) {
      x.setRequestHeader('Content-Type', options.content_type);
      x.setRequestHeader('authorization', 'Bearer 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');
  } else if (/^PUT/i.test(options.method)) {
      x.setRequestHeader('Content-Type', options.content_type);
      x.setRequestHeader("x-requested-with", "XMLHttpRequest");
  } else {
      x.setRequestHeader('Content-Type', options.content_type);
  }
  x.send(options.data);
}

function _show_loader(){
    $( "body" ).prepend( '<div id="preloader"><div class="spinner-sm spinner-sm-1" id="status"> </div></div>' );
}  
function _hide_loader(){
  $('#status').fadeOut(); // will first fade out the loading animation 
  $('#preloader').delay(350).fadeOut('slow'); // will fade out the white DIV that covers the website. 
}

function __create_company(callback){


    let json1 = JSON.stringify({
         
          "properties": [
            {
              "name": "address",
              "value": $('#address').val()
            },
            {
              "name": "country",
              "value": $('#country').val()
            },
            {
              "name": "zip",
              "value": $('#postal_code').val()
            },
            {
              "name": "city",
              "value": $('#city').val()
            },
            {
              "name": "state",
              "value": $('#state').val()
            },
            {
              "name": "name",
              "value": $('#company').val()
            },
            {
              "name": "address2",
              "value": $('#address2').val()
            }
          ]
    });

    doCORSRequest({
        method: 'POST',
        data: json1,
        content_type :'application/json',
        url:'https://api.hubapi.com/companies/v2/companies?hapikey='+hapikey,
    }, function printResult(result) {
            result = JSON.parse(result.responseText);
            callback(result.companyId);
    });
}

function __update_company(companyId, callback){

    let jsonu = JSON.stringify({
         
          "properties": [
            {
              "name": "address",
              "value": $('#address').val()
            },
            {
              "name": "country",
              "value": $('#country').val()
            },
            {
              "name": "zip",
              "value": $('#postal_code').val()
            },
            {
              "name": "city",
              "value": $('#city').val()
            },
            {
              "name": "state",
              "value": $('#state').val()
            },
            {
              "name": "name",
              "value": $('#company').val()
            },
            {
              "name": "address2",
              "value": $('#address2').val()
            }

          ]
    });


    doCORSRequest({
        method: 'PUT',
        data: jsonu,
        content_type :'application/json',
        url:'https://api.hubapi.com/companies/v2/companies/'+companyId+'?hapikey='+hapikey,
    }, function printResult(result) {
            //result = JSON.parse(result);
            callback(companyId);
    });
}
  
function save_data_HS(details, type){
  __getcontact($('#email').val(), function(vid, companyId){
    if(vid == 0 && companyId == 0){
        console.log('__create_company');
        __create_company(function(companyId){
        
                let json = JSON.stringify({
                      "properties": [
                        {
                          "property": "email",
                          "value": $('#email').val()
                        },
                        {
                          "property": "firstname",
                          "value": $('#firstname').val()
                        },
                        {
                          "property": "lastname",
                          "value": $('#lastname').val()
                        },
                        {
                          "property": "phone",
                          "value": $('#mobile').val()
                        },
                        {
                          "property": "city",
                          "value": $('#city').val()
                        },
                        {
                          "property": "state",
                          "value": $('#state').val()
                        },
                        {
                          "property": "zip",
                          "value": $('#postal_code').val()
                        },
                        {
                          "property": "associatedcompanyid",
                          "value": companyId
                        }
                      ]
                });
            __get_create_contact(json, details, type, function(vid, details) {
                if(vid > 0){
                    __create_deal(vid, details, type, companyId , function(deal_id) {

                    }); 
                }
            });
        });
    } else {
        let json = JSON.stringify({
              "properties": [
                {
                  "property": "email",
                  "value": $('#email').val()
                },
                {
                  "property": "firstname",
                  "value": $('#firstname').val()
                },
                {
                  "property": "lastname",
                  "value": $('#lastname').val()
                },
                {
                  "property": "phone",
                  "value": $('#mobile').val()
                },
                {
                  "property": "city",
                  "value": $('#city').val()
                },
                {
                  "property": "state",
                  "value": $('#state').val()
                },
                {
                  "property": "zip",
                  "value": $('#postal_code').val()
                },
                {
                  "property": "associatedcompanyid",
                  "value": companyId
                }
              ]
        });
        __update_contact(vid, json, function(res){

            __update_company(companyId, function(companyId){
                console.log('__update_company');
                if(vid > 0 && companyId > 0){
                    __create_deal(vid, details, type, companyId , function(deal_id){
                      
                    }); 
                }
            }); 
        });
    }
  });
}

function __line_item_create(product_id, price, services, description, quantity ,callback) {
    
    let json = JSON.stringify([
        {
          "name": "hs_product_id",
          "value": product_id
        },
        {
          "name": "quantity",
          "value": quantity
        },
        {
          "name": "price",
          "value": price
        },
        {
          "name": "name",
          "value": services
        },
        {
          "name": "description",
          "value": description
        }
      ]);

    doCORSRequest({
        method: 'POST',
        data: json,
        content_type :'application/json',
        url:'https://api.hubapi.com/crm-objects/v1/objects/line_items?hapikey='+hapikey,
    }, function printResult(result) {
        result = JSON.parse(result.responseText);
        callback(result.objectId);
    });
}

function __getline(line_item_id, deal_id){

    let json1 = JSON.stringify({
      "fromObjectId": deal_id , // deal id
      "toObjectId":line_item_id, // line object id
      "category" : "HUBSPOT_DEFINED",
      "definitionId": 19
    });

    doCORSRequest({
        method: 'PUT',
        data: json1,
        content_type :'application/json',
        url:'https://api.hubapi.com/crm-associations/v1/associations?hapikey='+hapikey,
        
    }, function printResult(result) {
        //alert('done');
    });
}

function __save_data_contact(vid, companyId, details = 'set', type = 'set') {

    if(vid == 0){
        console.log('__create_company');
        __create_company(function(companyId){
        
                let json = JSON.stringify({
                      "properties": [
                        {
                          "property": "email",
                          "value": $('#email').val()
                        },
                        {
                          "property": "firstname",
                          "value": $('#firstname').val()
                        },
                        {
                          "property": "lastname",
                          "value": $('#lastname').val()
                        },
                        {
                          "property": "phone",
                          "value": $('#mobile').val()
                        },
                        {
                          "property": "city",
                          "value": $('#city').val()
                        },
                        {
                          "property": "state",
                          "value": $('#state').val()
                        },
                        {
                          "property": "zip",
                          "value": $('#postal_code').val()
                        },
                        {
                          "property": "associatedcompanyid",
                          "value": companyId
                        }
                      ]
                });
                //console.log(json);
            __get_create_contact(json, details, type, function(vid, details) {
                if(vid > 0){
                    return false;
                }
            });
        });
    } else {

        let json = JSON.stringify({
              "properties": [
                {
                  "property": "email",
                  "value": $('#email').val()
                },
                {
                  "property": "firstname",
                  "value": $('#firstname').val()
                },
                {
                  "property": "lastname",
                  "value": $('#lastname').val()
                },
                {
                  "property": "phone",
                  "value": $('#mobile').val()
                },
                {
                  "property": "city",
                  "value": $('#city').val()
                },
                {
                  "property": "state",
                  "value": $('#state').val()
                },
                {
                  "property": "zip",
                  "value": $('#postal_code').val()
                },
                {
                  "property": "associatedcompanyid",
                  "value": companyId
                }
              ]
        });
        //console.log(json);
        __update_contact(vid, json, function(res){
            __update_company(companyId, function(companyId){
                console.log('__update_company');
                if(vid > 0 && companyId > 0){
                    return false;
                }
            }); 
        });
    }   
}
  
function __update_contact(vid, json, callback){
    doCORSRequest({
        method: 'POST',
        data: json,
        content_type :'application/json',
        url:'https://api.hubapi.com/contacts/v1/contact/vid/'+vid+'/profile?hapikey='+hapikey,
    }, function printResult(result) {
        callback(result);
    });
}
 
function __get_create_contact(json, details, type ,callback){

    doCORSRequest({
        method: 'POST',
        data: json,
        content_type :'application/json',
        url:'https://api.hubapi.com/contacts/v1/contact/?hapikey='+hapikey,
    }, function printResult(result) {

        result = JSON.parse(result.responseText);
        if(typeof(result.validationResults) != "undefined" && result.validationResults !== null) {
            if(result.validationResults[0].isValid == false){
                _hide_loader();
                swal.fire({
                    "title": "",
                    "text": result.validationResults[0].message,
                    "type": "error",
                    "confirmButtonClass": "btn btn-secondary"
                });
                return false;
            }
        }
        var message = result.message;
        if (message === undefined || message === null) {
            // new contacts created
            vid = result.vid;
        } else {
            // already exist
            vid = result.identityProfile.vid;
        }
        _hide_loader();
        callback(vid, details);
    });
    
}

function __getcontact(email, callback){

    doCORSRequest({
        method: 'GET',
        content_type :'application/json',
        url:'https://api.hubapi.com/contacts/v1/contact/email/'+email+'/profile?hapikey='+hapikey,
    }, function printResult(result) {
        //console.log(result);
        result = JSON.parse(result.responseText);
        var message = result.message;
        var vid = 0;
        var companyId = 0;
        if (message === undefined || message === null) {
            // already exist
            vid = result.vid;
            if(typeof(result.properties.associatedcompanyid) != "undefined" && result.properties.associatedcompanyid !== null) {
                companyId = result.properties.associatedcompanyid.value;
            } else {
                companyId = 0;
            }
        }
        callback(vid,companyId);
    });
}

function __deal_paypal_json(vid, details, type, companyId ,callback){

    if(type == 'paypal') {

        var status = details.status;
        var id = details.id;
        var payer_id = details.payer.payer_id;
        var payer_email = details.payer.email_address;
        var amount = details.purchase_units[0].amount.value;
        var currency_code = details.purchase_units[0].amount.currency_code;
        var capture_id = details.purchase_units[0].payments.captures[0].id;
        var payment_mode = "PayPal";
      
    } else if(type == 'razor') {
        var payment_mode = "RazorPay";
        var status = 'SUCCESS';
        var id = details.razorpay_payment_id;
        var capture_id = details.razorpay_order_id;
        var payer_id = details.razorpay_payment_id;
        var payer_email = $('#email').val();
        //var amount = details.total;
        var amount = $('#total').val();
        var currency_code = 'INR';

    } else if(type == 'stripe') {
       var payment_mode = "Stripe";
      var status = 'SUCCESS';
        var id = details.id;
        var capture_id = details.source.id;
        var payer_id = details.id;
        var payer_email = $('#email').val();
        var amount = ( details.amount / 100 );
        var currency_code = 'USD';
    }
    var product = 'Service';
        
    var date = new Date();
    var timestamp = date.getTime();
  
    let json = JSON.stringify({
                  
                  "associations": {
                    "associatedCompanyIds": [
                     companyId
                    ],
                    "associatedVids": [
                      vid
                    ]
                  },
                  "properties": [
                    {
                      "value": product,
                      "name": "dealname"
                    },
                    {
                        "value": amount,
                        "name": "amount",
                    },
                    {
                        "value": currency_code,
                        "name": "deal_currency_code",
                    },
                    {
                      "value": "newbusiness",
                      "name": "dealtype"
                    },
                    {
                      "value": "default",
                      "name": "pipeline"
                    },
                    {
                      "value": "closedwon",
                      "name": "dealstage"
                    },
                    {
                      "value": timestamp,
                      "name": "closedate"
                    },
                    {
                      "value": payment_mode,
                      "name": "payment_mode"
                    }
                  ]

            });


    callback(json);
}

function __create_deal(vid, details, type, companyId , callback) {

    __deal_paypal_json(vid, details, type, companyId, function(json){        

          doCORSRequest({
              method: 'POST',
              data: json,
              content_type :'application/json;charset=UTF-8',
              url:'https://api.hubapi.com/deals/v1/deal?hapikey='+hapikey,
          }, function printResult(result) {
                  result = JSON.parse(result.responseText);
                  console.log('deal created');
                  var deal_id = result.dealId;
                  var set = $('#list .cart-list-item');
                  var length = set.length;

                  set.each(function(index, element) {
                    var services = $(this).find('.cart-item-label').text();
                    var price = parseFloat($(this).find('.cart-item-price').text().replace("Rs.", ""));
                    price = price.replace("$", "");
                    var product_id = $(this).find('.cart-item-favorites .plus').attr('rel');
                    var description = 'Product Description.';
                    var qty = $(this).find('.cart-item-favorites > span').text();
                    qty = $.trim(qty);
                    
                    if(price > 0) {
                      __line_item_create(product_id, price, services, description, qty ,function(line_item_id){
                        __getline(line_item_id, deal_id);
                      });
                    }
                    if (index === (length - 1)) {
                        $('#myModal .modal-header').html('Payment');
                        $('#myModal .modal-body').html('<p>Payment has been done</p>');
                        $('.cart-wrapper').hide();
                        return false;
                    }

                  });
                  
          });     
    });
}

$(document).on('click','#grandTotal',function(e){
   var razor_key = $.urlParam('razor', $('.add_cart').attr('data-embed_code'));
   var stripe_sk_key = $.urlParam('stripe_sk', $('.add_cart').attr('data-embed_code'));
   var stripe_pk_key = $.urlParam('stripe_pk', $('.add_cart').attr('data-embed_code'));
   var paypal_key = $.urlParam('paypal', $('.add_cart').attr('data-embed_code'));
  
    var formEl = $('#billing-form');
        validator = formEl.validate({
            // Validate only visible fields
            ignore: ":hidden",
            // Validation rules
            rules: {
                
                firstname: {
                    required: true,
                    maxlength:50,
                },
                lastname: {
                    required: true,
                    maxlength:50,
                },
                email: {
                    required: true,
                    maxlength:100,
                },
                company:{
                    required: true,
                },
                address : {
                    required: true,
                    maxlength:300,
                },
                city : {
                    required: true,                                
                    maxlength:50,
                },
                state : {
                    required: true,                                
                    maxlength:50,
                },
                payment_way : {
                    required: true,
                },
                mobile : {
                    required: true,
                    maxlength:14,
                    minlength:10
                },
                country : {
                    required: true,
                    maxlength:50,
                },
                postal_code:{
                    required:true,
                    maxlength:7,
                    minlength:5,
                    digits:true
                }
            },
            errorPlacement: function(error, element) {
                if (element.attr("name") == "amount") {
                  error.insertAfter(".amount");
                } else {
                  error.insertAfter(element.closest('div'));
                }
            }
            
        });
    
       __getcontact($('#email').val(), function(vid, companyId){
            if(vid > 0 && companyId > 0){
                __save_data_contact(vid,companyId);
                return false;

            } else if(vid > 0 && companyId == 0){
              __create_company(function(companyId){
                __save_data_contact(vid,companyId); 
                return false;
              });
            } else {
                __save_data_contact(vid,companyId);
                return false;
            }
        });

    if (validator.form() !== true) {
        return;
    }
    if(razor_key != '' && $('#payment_way').val() == 'Razor') {
          var options = {
              "key": razor_key, // Enter the Key ID generated from the Dashboard
              "amount": getAmount(), // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise or INR 500.
              "currency": 'INR',
              "name": $('.add_cart').attr('data-name'),
              "description": $('.add_cart').attr('data-description'),
              //"image": "https://www.webdew.com/hubfs/webdew_logo-7.svg",
              "handler": function (response) {
                  save_data_HS(response, 'razor');
              },  
              "theme": {
                  "color": "#28a5ed"
              }
          };
          var rzp1 = new Razorpay(options);
          rzp1.open();
          e.preventDefault();
      }
    if(stripe_sk_key != '' && stripe_pk_key != '' && $('#payment_way').val() == 'Card'){
      $('#stripe').attr('data-key',stripe_pk_key);
      $('#stripe').show();
      $('#grandTotal').hide();
    }
  if(paypal_key != '' && $('#payment_way').val() == 'Paypal'){
      $('#paypal_pay').show();
      $('#grandTotal').hide();
      paypal.Buttons({
        style: {
          // shape: 'rect',
          // color: 'gold',
          layout: 'horizontal',
          label: 'paypal',
          //tagline: true
        },
        createOrder: function(data, actions) {
          return actions.order.create({
            purchase_units: [{
              amount: {
                value: 1.00
              }
            }]
          });
        },
        onApprove: function(data, actions) {
          _show_loader();
          return actions.order.capture().then(function(details) {
            save_data_HS(details,'paypal');
          });
        }
      }).render('#paypal-button-container');
    }
    e.stopImmediatePropagation();
    return false;
});

</script>     
    {{ standard_footer_includes }}
  </body>
</html>