.kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__heading .kt-menu__link-icon, .kt-aside-menu .kt-menu__nav > .kt-menu__item > .kt-menu__link .kt-menu__link-icon {
  font-size: 1.8rem; }

.alert.alert-primary {
  background: #e5f5ff;
  border: 1px solid #e5f5ff;
  color: #ffffff; }

.alert.alert-primary .alert-icon i {
  color: #009bff; }

.alert.alert-primary .alert-text {
  color: #009bff; }

.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col, .col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm, .col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md, .col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg, .col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl, .col-xl-auto {
  padding-right: 15px;
  padding-left: 15px; }

.no-box-shadow {
  -webkit-box-shadow: none;
  box-shadow: none; }

.kt-wizard-v2__nav-icon .kt-svg-icon {
  height: 33px;
  width: 33px; }

@media (max-width: 1024px) {
  .my-custom-style {
    padding: 0.5rem 0.25rem; }
    .my-custom-style .my-custom-element {
      margin-left: 0.5rem; } }
