.row-no-margin {
  margin-left: 0;
  margin-right: 0; }

.banner-wrapper {
  width: 100%;
  float: right;
  background-color: #009bff;
  padding: 100px 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }
  .banner-wrapper .btn {
    color: #fff; }
    .banner-wrapper .btn:hover {
      border-color: #fff; }

img {
  max-width: 100%; }

.website-price {
  font-size: 28px;
  font-weight: 500; }

.pt-7, .py-7 {
  padding-top: 7rem !important; }

.pb-7, .py-7 {
  padding-bottom: 7rem !important; }

.pt-6, .py-6 {
  padding-top: 6rem !important; }

.pb-6, .py-6 {
  padding-bottom: 6rem !important; }

.kt_trusted-by {
  background: #009bff;
  position: relative; }

.kt_trusted-by:before {
  content: "";
  background: #009bff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%; }

.kt_trusted-by:after {
  content: "";
  background: #009bff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%; }

.kt_trusted-by_left h4 {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 0px; }

#kt_trustedby-carousel img {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); }

.accordion.accordion-toggle-svg .card .card-header .card-title {
  background-color: rgba(0, 155, 255, 0.1); }

.accordion.accordion-toggle-svg .card .card-header .card-title {
  color: #009bff; }

.accordion.accordion-toggle-svg .card .card-header .card-title.collapsed {
  color: #009bff; }

.accordion.accordion-panel .card .card-body {
  padding-top: 1.25rem; }

ul li {
  margin-bottom: 9px; }

.kt_blogging-playbook_head p span {
  color: #009bff; }

.kt-portlet__body .kt-pricing-2__head, .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container fiv.kt-pricing-2__items {
  background: #f9f9fc; }

.kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__pic img.kt-widget7__img {
  max-width: 100%; }

.kt-better_way-video-box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-image: url(../media/icons/desktop-svg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 15px 59px 110px 59px;
  position: relative; }

.kt-better_way-video-box iframe {
  border-radius: 2px;
  width: 560px;
  height: 315px; }

.kt_blog-subscribe-inner form {
  padding: 30px 70px; }

span.input-group-text {
  color: #009bff;
  background-color: #d5efff;
  border: 1px solid #e5f5ff; }

span.input-group-text i {
  color: #009bff; }

.kt-better_way-video-left {
  right: 0; }

.kt-better_way-video-right {
  left: 0; }

.whishlist-ribbon {
  position: absolute;
  left: -26px;
  top: -12px; }
  .whishlist-ribbon .kt-ribbon__target {
    background-color: #ffe9fd;
    color: #fd27eb;
    padding: 10px 15px; }
    .whishlist-ribbon .kt-ribbon__target:hover {
      cursor: pointer; }
      .whishlist-ribbon .kt-ribbon__target:hover > .kt-ribbon__inner {
        background-color: #fd27eb; }
      .whishlist-ribbon .kt-ribbon__target:hover i {
        color: #fff; }
  .whishlist-ribbon .kt-ribbon__target > .kt-ribbon__inner {
    background-color: #ffe9fd; }

.fixed-sidebar {
  width: 100%;
  height: 100%; }
  .fixed-sidebar section {
    position: -webkit-sticky;
    position: sticky;
    top: 85px; }

.cart-container svg {
  width: 30px;
  height: 30px; }

.cart-container .kt-portlet .kt-portlet__body {
  padding: 1.5rem; }

.cart-container .kt-widget.kt-widget--user-profile-3 .kt-widget__bottom {
  margin-top: 1.5rem; }

.cart-container .kt-widget.kt-widget--user-profile-3 .kt-widget__bottom .kt-widget__item {
  padding: 1.5rem 0 0 1.5rem; }

.cart-container .kt-notification .kt-notification__item:after {
  content: none; }

.cart-container .kt-notification .kt-notification__item .kt-notification__item-details .kt-notification__item-time {
  font-size: 1.2rem;
  font-weight: 500;
  color: #009bff; }

.cart-container .kt-widget.kt-widget--user-profile-3 .kt-widget__bottom .kt-widget__item .kt-widget__details .kt-widget__title {
  font-weight: normal; }

.cart-container .kt-notification .kt-notification__item {
  border-top: 1px solid #e5f5ff; }

.cart-container .kt-notification .kt-notification__item:last-child {
  border-bottom: 1px solid #e5f5ff;
  border-top: 1px solid transparent; }

.cart-container .kt-notification .kt-notification__item:hover {
  background-color: transparent; }

.cart-container .accordion.accordion-solid .card .card-body {
  border: none;
  background-color: #e5f5ff;
  border-top-right-radius: 0;
  border-top-left-radius: 0; }

.moz-svg .st0 {
  fill: #b3e1ff; }

.moz-svg .st1 {
  fill: #009bff; }

@media (max-width: 1024px) {
  .my-custom-style {
    padding: 0.5rem 0.25rem; }
    .my-custom-style .my-custom-element {
      margin-right: 0.5rem; } }

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite; }

@keyframes blink {
  to {
    visibility: hidden; } }

@-webkit-keyframes blink {
  to {
    visibility: hidden; } }

@media screen and (max-width: 1399px) {
  div.kt-better_way-video-box:before {
    right: -22%;
    top: -17%; }
  div.kt-better_way-video-box:after {
    left: -34%; } }

@media screen and (max-width: 1199px) {
  div.kt-better_way-video-box {
    padding: 14px 48px 101px 48px; }
  div.kt-better_way-video-box iframe {
    width: 515px;
    height: 288px; }
  .kt-better_way-video-left img {
    height: 190px; }
  .kt-better_way-video-right img {
    height: 75px; }
  div.kt-better_way-video-box:before {
    width: 80px;
    height: 80px;
    right: -13%; }
  div.kt-better_way-video-box:after {
    width: 100px;
    height: 75px;
    left: -24%;
    top: -17%; } }

@media screen and (max-width: 991px) {
  div.kt-better_way-video-box:before, div.kt-better_way-video-box:after, div.kt-better_way-video-left img, div.kt-better_way-video-right img {
    display: none; } }

@media screen and (max-width: 767px) {
  .kt-better_way-video-left, .kt-better_way-video-right {
    display: none; }
  .pt-7, .py-7 {
    padding-top: 4rem !important; }
  .pb-7, .py-7 {
    padding-bottom: 4rem !important; }
  .kt_trusted-by_left {
    padding-bottom: 2rem !important; }
  .kt_trusted-by-inner {
    padding-bottom: 25px; }
  .kt-better_way-video-box {
    width: 100%; }
  .pb-6, .py-6 {
    padding-bottom: 3rem !important; }
  .pt-6, .py-6 {
    padding-top: 3rem !important; } }

@media screen and (max-width: 639px) {
  div.kt-better_way-video-box {
    padding: 11px 19px 78px 19px; }
  div.kt-better_way-video-box iframe {
    width: 405px;
    height: 227px; }
  .kt-gbplaybook .kt-iconbox__body {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    text-align: center; }
  .kt-gbplaybook .kt-iconbox__body > div {
    margin-bottom: 25px; }
  .kt-gbplaybook .kt-iconbox__body > div:last-child {
    margin-bottom: 0px; }
  .kt-gbplaybook .kt-portlet__body {
    padding-right: 0px;
    padding-left: 0px; } }

@media screen and (max-width: 479px) {
  div.kt-better_way-video-box {
    padding: 8px 14px 56px 14px; }
  div.kt-better_way-video-box iframe {
    width: 300px;
    height: 166px; }
  .kt_blog-post .kt-widget5__content {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  .kt_blog-post .kt-widget5__pic {
    margin-bottom: 20px; } }

@media screen and (max-width: 359px) {
  div.kt-better_way-video-box {
    padding: 7px 12px 48px 14px; }
  div.kt-better_way-video-box iframe {
    width: 261px;
    height: 147px; } }
