.banner-wrapper {
  width: 100%;
  float: left;
  background-color: #009bff;
  padding: 100px 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  color: #fff; }
  .banner-wrapper .btn {
    color: #fff; }
    .banner-wrapper .btn:hover {
      border-color: #fff; }

html {
  overflow-x: hidden; }

img {
  max-width: 100%; }

.website-price {
  font-size: 28px;
  font-weight: 500; }

.pt-7, .py-7 {
  padding-top: 7rem !important; }

.pb-7, .py-7 {
  padding-bottom: 7rem !important; }

.pt-6, .py-6 {
  padding-top: 6rem !important; }

.pb-6, .py-6 {
  padding-bottom: 6rem !important; }

.kt_trusted-by {
  background: #009bff;
  position: relative; }

.kt_trusted-by:before {
  content: "";
  background: #009bff;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  width: 100%; }

.kt_trusted-by:after {
  content: "";
  background: #009bff;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -100%;
  width: 100%; }

.kt_trusted-by_left h4 {
  color: #ffffff;
  font-weight: 400;
  margin-bottom: 0px; }

#kt_trustedby-carousel img {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1); }

.accordion.accordion-toggle-svg .card .card-header .card-title {
  background-color: rgba(0, 155, 255, 0.1); }

.accordion.accordion-toggle-svg .card .card-header .card-title {
  color: #009bff; }

.accordion.accordion-toggle-svg .card .card-header .card-title.collapsed {
  color: #009bff; }

.accordion.accordion-panel .card .card-body {
  padding-top: 1.25rem; }

ul li {
  margin-bottom: 9px; }

.kt_blogging-playbook_head p span {
  color: #009bff; }

.kt-portlet__body .kt-pricing-2__head, .kt-pricing-2 .kt-pricing-2__content .kt-pricing-2__container fiv.kt-pricing-2__items {
  background: #f9f9fc; }

.kt-widget5 .kt-widget5__item .kt-widget5__content .kt-widget5__pic img.kt-widget7__img {
  max-width: 100%; }

.kt-better_way-video-box {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  background-image: url(../media/icons/desktop-svg.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 15px 59px 110px 59px;
  position: relative; }

.kt-better_way-video-box iframe {
  border-radius: 2px;
  width: 560px;
  height: 315px; }

.kt_blog-subscribe-inner form {
  padding: 30px 70px; }

span.input-group-text {
  color: #009bff;
  background-color: #d5efff;
  border: 1px solid #e5f5ff; }

span.input-group-text i {
  color: #009bff; }

.kt_about-banner-videobox iframe {
  border: 3px solid #fff; }

p:last-child {
  margin-bottom: 0px; }

.kt-portlet__body.kt_team-body {
  padding: 12px; }

.whishlist-ribbon {
  position: absolute;
  right: -26px;
  top: -12px; }
  .whishlist-ribbon .kt-ribbon__target {
    background-color: #ffe9fd;
    color: #fd27eb;
    padding: 10px 15px; }
    .whishlist-ribbon .kt-ribbon__target:hover {
      cursor: pointer; }
      .whishlist-ribbon .kt-ribbon__target:hover > .kt-ribbon__inner {
        background-color: #fd27eb; }
      .whishlist-ribbon .kt-ribbon__target:hover i {
        color: #fff; }
  .whishlist-ribbon .kt-ribbon__target > .kt-ribbon__inner {
    background-color: #ffe9fd; }

.fixed-sidebar {
  width: 100%;
  height: 100%; }
  .fixed-sidebar section {
    position: -webkit-sticky;
    position: sticky;
    top: 85px; }

@media (max-width: 1024px) {
  .my-custom-style {
    padding: 0.5rem 0.25rem; }
    .my-custom-style .my-custom-element {
      margin-left: 0.5rem; } }

.blink {
  animation: blink 2s steps(5, start) infinite;
  -webkit-animation: blink 1s steps(5, start) infinite; }

@keyframes blink {
  to {
    visibility: hidden; } }

@-webkit-keyframes blink {
  to {
    visibility: hidden; } }
